@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(242, 235, 98);
  font-family: 'Nunito', sans-serif;
}

@layer utilities {

  .text-balance {
    text-wrap: balance;
  }
}
